@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        overflow-x: hidden;
    }
    
    body {
        font-family: 'Inter', sans-serif;
        overflow-x: hidden;
    }
}
 

